body {
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 30px;
    background-color: #888;
    margin: 0 auto;
    padding: 0;
}

#main-content{
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 auto;
}

#grid {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 20px auto;
    border: solid .5px black;
}

#grid .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.tile {
    height: 25px;
    width: 25px;
    margin: 0;
    padding: 0;
    border: solid .5px black;
    position: relative;
    pointer-events: none;
}


/* This is to cover the tiles until click to reveal */
/* Source: https://bryanlrobinson.com/blog/how-to-css-after-elements-for-background-overlays/ */
.hidden::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #DDD;
    pointer-events: all;
}

/* Add a class to have tile content hidden from DOM */
/* .tileContent::after */

/* ---Class prepared for flag on right click--- */
.flag::after{
    z-index: 1;
    content: "F";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #111;
} 