:root {
    --tile-bg: #FFF;
}

body {
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}
/* Nav Styles */
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 30px;
    background-color: #888;
    margin: 0 auto;
    padding: 0;
    align-items: center;
}

nav span {
    margin-left: 50px;
    font-weight: bold;
}
/* BODY STYLES START */
#main-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 auto;
}

/* GRID STYLES */
#grid {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 20px auto;
    border: solid .5px black;
}

#grid .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.tile {
    display: inline;
    height: 25px;
    width: 25px;
    margin: 0;
    padding: 0;
    border: solid .5px black;
    position: relative;
    pointer-events: none;
}

/* Above Grid Styles */
#top-bar {
    width: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 0;
    justify-content: space-around;
}

.flag-tracker {
    height: 15%;
    width: 70px;
    font-weight: bold;
    border: 1px solid #444;
    padding-left: 5px;
    padding-right: 0;
}

.time {
    margin: 0;
    padding: 2px;
    height: 15%;
    width: fit-content;
    border: 1px solid #444;
    text-align: center;
    font-weight: bold;
}

#flag-counter {
    padding: 0;
}

#reset-game{
    width: 100px;
    margin: 0 auto;
}
/* BODY STYLES END */


/* This is to cover the tiles until click to reveal */
/* Source: https://bryanlrobinson.com/blog/how-to-css-after-elements-for-background-overlays/ */
.hidden::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #DDD;
    pointer-events: all;
}

/* Add a class to have tile content hidden from DOM */
.tile-content::after {
    z-index: 1;
    content: "";
    background-image: var(--tile-bg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    /* trying to center background images */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
}

/* ---Class prepared for flag on right click--- */
.flag::after {
    z-index: 1;
    background-image: url(img/red_flag.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.red {
    background-color: red;
}