body {
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 30px;
    background-color: #888;
    margin: 0 auto;
    padding: 0;
}

#main-content{
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 auto;
}

#grid {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 20px auto;
    border: solid .5px black;
}

#grid .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.tile {
    height: 25px;
    width: 25px;
    margin: 0;
    padding: 0;
    border: solid .5px black;
}